<div class="left about-us-left">
  <ul>
    <a href="/company_introduction.html" data-name="company_introduction">
      <li>
        公司介绍
      </li>
    </a>
    <a href="/development_history.html" data-name="development_history">
      <li>
        发展历程
      </li>
    </a>
    <a href="/news_list.html" data-name="news_list,news_detail">
      <li>
        媒体报道
      </li>
    </a>
    <a href="/contact_us.html" data-name="contact_us">
      <li>
        联系我们
      </li>
    </a>
  </ul>
</div>
