<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description"
    content="Beijing Qimeng Education & Technology Co. Ltd (aka Baby English) specializes in maximizing early childhood education on the Internet. Baby English is an online education company, which, with a “Mom Community,” offers English classes for the whole family. As the biggest online English education institution for preschoolers in China, Baby English’s goal is to focus on reducing the phenomenon of “dumb English.” We make children feel invested in learning the dominant language of the world, while playing, during their critical brain development and learning period (0-6).">
  <meta name="keywords" content="Baby English, 0-6, china,kids,edu">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="expires" content="0">
  <title>Baby English</title>
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-M3LSSPT');

  </script>
  <!-- End Google Tag Manager -->
</head>
<!-- <link rel="icon" href="../../../assets/images/en/logo.png" mce_href="images/babyenglish.ico" type="image/x-icon" /> -->

<!--[if lt IE 9]>
    <script src="https://s0.babyfs.cn/websitev2/static/js/html5shiv.min.js"></script>
    <script src="https://s0.babyfs.cn/websitev2/static/js/respond.min.js"></script>
<![endif]-->

<body class="<%-pageName%>">
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M3LSSPT" height="0" width="0"
      style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <header>
    <div class="container">
      <div class="logo">
        <img align="left" src="~images/pc/top-logo.svg" alt="Baby English" />
      </div>
      <div class="head_right">
        <div class="change">
          <p>
            <a class="sizred" href="javascript:void(0)">EN</a>
            <span class="sizccc">/</span>
            <a href="../index.html">中文</a>
          </p>
          <!--<button class="btn free_btn hidden-xs hidden-sm" onclick="showhide('.change .free_ma')">Apply for Free Trial Lessons</button>
                                  <div class="free_ma">
                                      <a class="close_icon" href="javascript:void(0)" onclick="hideshow('.change .free_ma')"><span class="glyphicon glyphicon-remove"></span></a>
                                      <p>Scan to add <br>customer service</p>
                                  </div>-->
        </div>
        <div class="navlist hidden-lg hidden-md" onclick="showhide('.nav_xm')">
          <span class="glyphicon glyphicon-list"></span>
        </div>
        <ul class="nav_xm hidden-lg hidden-md">
          <li class="<%-(pageName=='home'?'current':'')%>">
            <a href="home.html">Home</a>
          </li>
          <li class="curriculum_system <%-(pageName=='home'?'current':'')%>">
            <a href="home.html?url=Curriculum_System.html">Curriculum System</a>
          </li>
          <li class="<%-(pageName=='teaching_model'?'current':'')%>">
            <a href="teaching_model.html">Teaching Model</a>
          </li>
          <li class="<%-(pageName=='product_display'?'current':'')%>">
            <a href="product_display.html">Product Display</a>
          </li>
          <li class="<%-(pageName=='baby_show'?'current':'')%>">
            <a href="baby_show.html">Baby Show</a>
          </li>
          <li class="<%-(pageName=='about_us'?'current':'')%>">
            <a href="about_us.html">About Us</a>
          </li>
        </ul>
        <ul class="nav hidden-xs hidden-sm">
          <li class="<%-(pageName=='home'?'current':'')%>">
            <a href="home.html">Home</a>
          </li>
          <li class="curriculum_system <%-(pageName=='home'?'current':'')%>">
            <a href="home.html?url=Curriculum_System.html">Curriculum System</a>
          </li>
          <li class="<%-(pageName=='teaching_model'?'current':'')%>">
            <a href="teaching_model.html">Teaching Model</a>
          </li>
          <li class="<%-(pageName=='product_display'?'current':'')%>">
            <a href="product_display.html">Product Display</a>
          </li>
          <li class="<%-(pageName=='baby_show'?'current':'')%>">
            <a href="baby_show.html">Baby Show</a>
          </li>
          <li class="<%-(pageName=='about_us'?'current':'')%>">
            <a href="about_us.html">About Us</a>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </header>
  <div class="istop"></div>
  <script>
    //设置选中菜单高亮
    //TODO

  </script>
