<div id="footer">
  <div class="content">
    <div>
      <div class="box box-1">
        <!-- <img src="~images/pc/brand.png" alt=""> -->
        <img src="~images/pc/footer.png" alt="">
        <img src="~images/pc/footertengxun.png" alt="">
      </div>
      <div class="box box-2">
        <p>官方服务号</p>
        <div class="qrcode-img"><img src="~images/pc/wechat-qrcode.png" alt=""></div>
      </div>
      <div class="box box-3">
        <p>下载APP</p>
        <div class="qrcode-img"><img src="~images/pc/download-app.png" alt=""></div>
      </div>
      <div class="box box-4">
        <p>商务合作</p>
        <p>bd@babyfs.cn</p>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>北京启萌教育科技有限公司 京ICP备16005798号 京公网安备 11010502034347号</p>
  </div>
</div>
<div class="babyfs-dialog dialog">
  <div class="dialog-content">
    <div><img src="~images/pc/reward-qrcode.png" alt=""><img src="~images/pc/close-circle-o.png" alt="" class="close"
        onclick="rewardQrcodeClose()">
    </div>
  </div>
</div>
<div class="screen-float">
  <div class="content">
    <div class="customerservice">
      <div>
        <img src="~images/pc/customerservice.png" alt="">
        <p>在线客服</p>
      </div>
    </div>
    <div class="backtothetop" onclick="backTop()">
      <div>
        <img src="~images/pc/backtothetop.png" alt="">
        <p>回到顶部</p>
      </div>
    </div>
  </div>
</div>
</body>
<script>
  // if (document.documentElement.clientHeight > document.body.clientHeight) {
  //   document.getElementById('footer').setAttribute('class', 'fixed')
  // }
</script>

</html>
