<!DOCTYPE html>
<html lang="cn">
<%
    var navMap={
      'index':{
        index:0,
        name:'首页-成长兔英语-0-6岁家庭式启蒙教育领导者'
      },
      'course_introductory':{
        index:1,
        name:'课程介绍-成长兔英语-量身定制的分级课程'
      },//入门课
      'course_0_3':{
        index:1,
        name:'课程介绍-成长兔英语-量身定制的分级课程'
      },
      'course_3_6':{
        index:1,
        name:'课程介绍-成长兔英语-量身定制的分级课程'
      },
      'select_pen':{
        index:2,
        name:'点读专区-成长兔英语-专属于你的点读资料'
      },//点读笔
      'select_course':{
        index:2,
        name:'点读专区-成长兔英语-专属于你的点读资料'
      },
      'about_us':{
        index:3,
        name:'关于我们-成长兔英语-0-6岁家庭式启蒙教育领导者'
      },//关于我们
      'development_history':{
        index:3,
        name:'发展历程-成长兔英语-0-6岁家庭式启蒙教育领导者'
      },//发展史
      'company_introduction':{
        index:3,
        name:'公司介绍-成长兔英语-0-6岁家庭式启蒙教育领导者'
      },//公司介绍
      'news_list':{
        index:3,
        name:'媒体报道-成长兔英语-0-6岁家庭式启蒙教育领导者'
      },//新闻列表
      'news_detail':{
        index:3,
        name:'媒体报道-成长兔英语-0-6岁家庭式启蒙教育领导者'
      },//新闻详情
      'contact_us':{
        index:3,
        name:'联系我们-成长兔英语-0-6岁家庭式启蒙教育领导者'
      }//联系我们
    }
    var activeIndex=(navMap[pageName]&&navMap[pageName].index)?navMap[pageName].index:0;
  %>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="成长兔英语，英语启蒙，亲子陪伴，家庭英语教育，成长兔英语官方网站">
  <meta name="description"
    content="成长兔英语倡导“快乐成长，温暖陪伴”理念，提供优质在线教育资源，打造科学实用的沉浸式家庭英语启蒙课程。课程结合国内外理论，遵循幼儿语言及认知发展阶段性特点，已累计服务超过200万家庭用户。" />
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="expires" content="0">
  <%if(navMap[pageName]&&navMap[pageName].name){%>
  <title><%=(navMap[pageName].name)%></title>
  <%}else{%>
  <title>成长兔英语-0-6岁家庭式启蒙教育领导者</title>
  <%}%>
  <link rel="shortcut icon" href="http://i.s.babyfs.cn/op/1/6bee7c692299441aa5a78ac3488f942a.jpg" type="image/x-icon" />
  <link rel="icon" href="http://i.s.babyfs.cn/op/1/6bee7c692299441aa5a78ac3488f942a.jpg" type=" image/png">
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-M3LSSPT');

  </script>
  <!-- End Google Tag Manager -->
  <!--[if lt IE 9]>
    <script src="https://s0.babyfs.cn/websitev2/static/js/html5shiv.min.js"></script>
    <script src="https://s0.babyfs.cn/websitev2/static/js/respond.min.js"></script>
<![endif]-->
</head>
<script>
  function IsPC() {
    var userAgentInfo = navigator.userAgent;
    var Agents = ["Android", "iPhone",
      "SymbianOS", "Windows Phone",
      "iPad", "iPod"
    ];
    var flag = true;
    for (var v = 0; v < Agents.length; v++) {
      if (userAgentInfo.indexOf(Agents[v]) > 0) {
        flag = false;
        break;
      }
    }
    return flag;
  }
  if (!IsPC()) {
    location.href = "/m/index.html";
  }

</script>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M3LSSPT" height="0" width="0"
      style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div id="header">
    <div class="box-content content cl">
      <div class="left logo">
        <a href="/index.html"><img src="~images/pc/top-logo.svg" alt="logo"> </a>
      </div>
      <div class="right">
        <nav class="pr nav-<%-(activeIndex)%>">
  <div class="con_nav cl ">
    <a href="/index.html" class="<%-(activeIndex==0?'active':'')%>">
      <p>首页</p>
    </a>
    <a href="javescript:;" id="header_course_introductory" class="course <%-(activeIndex==1?'active':'')%>">
      <p>课程介绍</p>
    </a>
    <a href="/select_pen.html" class="<%-(activeIndex==2?'active':'')%>">
      <p>点读专区</p>
    </a>

    <a href="/company_introduction.html" class="<%-(activeIndex==3?'active':'')%>">
      <p>关于我们</p>
    </a>
  </div>
  <div class="decorate">
    <div class="icon">
      <img src="~images/pc/topbar-selection.png" alt="">
    </div>
  </div>
  <ul class="course_list" id="header_course_list">
    <li>入门课</li>
    <li>0-3岁体系课</li>
    <li>3-6岁体系课</li>
  </ul>
  </nav>
  <p class="left activity" onclick="rewardQrcodeShow()"><a href="javascript:;">免费领取入门课</a></p>
  <p class="switchover left"><a class="sizred" href="./en/home.html">中文<span>/EN</span></a></p>
  </div>
  </div>
  </div>
  <div class="header-bak"></div>
