body {
  color: #666;
  font-size: 14px;
  font-family: Arial;
  line-height: 24px;
}

ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  height: 90px;
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 999999999999;
  box-shadow: 0px 3px 8px #ccc;
}

footer {
  background: #eaf5f4;
  text-align: center;
}

.erweima {
  padding: 60px 0 40px 0
}

.erweima li {
  display: inline-block;
  margin: 0 30px;
}

.erweima li p {
  line-height: 50px;
}

.erweima li a {
  color: #20d5c4;
}

.ft_btm {
  background: #e1eeed;
  line-height: 60px;
  padding-top: 10px;
}

a:visited,
a:active,
a:focus,
a:hover {
  text-decoration: none;
  outline: none;
}

.logo {
  padding-top: 16px;
  float: left;
  width: 58px;
  overflow: hidden
}

.clear {
  clear: both;
}

.free_ma {
  background: url("../../images/en/free.png") no-repeat;
  background-size: 100% auto;
  width: 280px;
  height: 414px;
  display: none;
  position: absolute;
  top: 90px;
  right: 0;
}

.change .free_ma p {
  font-size: 16px;
  text-align: center;
  margin-top: 313px;
  padding: 0;
}

.free_ma .close_icon {
  background: #ffffff;
  display: block;
  font-size: 12px;
  padding: 0 5px;
  color: #333;
  margin-top: 5px;
  float: left;
  margin-left: 5px;
  border-radius: 3px;
}

.nav {
  float: right;
}

.nav li {
  float: left;
}

.nav li a {
  margin-top: 26px;
  color: #333;
}

.nav li a:hover {
  color: #ff3333;
  background: #f9f9f9;
}

.change a {
  color: #666666
}

.change a.sizred {
  color: #ff3333
}

.nav li.current a {
  color: #ff3333
}

.nav li.current a:hover {
  background: none;
}

.siz999 {
  color: #999;
}

.sizccc {
  color: #ccc;
}

.free_btn {
  background: #ff3333;
  color: #fff;
  border: none;
  font-size: 12px;
  line-height: 30px;
  border-radius: 36px;
  padding: 5px 15px;
  outline: 0;
}

.free_btn:hover,
.free_btn:focus,
.free_btn:active,
.free_btn:visited {
  background: #ff0000;
  color: #ffffff;
  outline: 0;
}

.change {
  /*padding-top: 35px;*/
  padding-left: 15px;
  position: relative;
  float: right;

}

.change p {
  text-align: right;
  padding: 6px 20px;
  margin-top: 23px;
  font-size: 13px;
  border: 1px solid #ddd;
}

.istop {
  height: 90px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 20px;
  height: 37px;
  background-size: 20px 37px;
}

.boxred,
.boxblue,
.boxyellow {
  margin: 0 -8px;
  padding: 50px 5px 0 5px;
  height: 120px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-family: "Arial Black";
}

.boxred {
  background: #fc6d72;
}

.boxblue {
  background: #20d5c4;
}

.boxyellow {
  background: #fec207;
}

.clo_box {
  margin-top: -60px;
  position: relative;
  z-index: 99999;
}

.baby_bg {
  background: url("../../images/en/baby.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
  margin-top: -60px;
  position: relative;
  z-index: 11;
}

.navlist {
  font-size: 24px;
  float: right;
  margin-top: 30px;
  cursor: pointer;
  margin-right: 15px;
}

.navlist:hover {
  color: #ff3333;
}

.nav_xm {
  width: 100%;
  position: absolute;
  top: 90px;
  left: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.nav_xm a {
  color: #ffffff;
  padding: 0 6px;
  line-height: 50px;
  display: inline-block;
}

.nav_xm a:hover {
  background: rgba(0, 0, 0, 0.1)
}

.nav_xm li {
  display: inline-block;
}

.nav_xm li.current a {
  color: #ff3333;
}

.nav_xm li.current a:hover {
  background: none;
}

.lye_txt {
  position: absolute;
  width: 100%;
  top: 30%;
  left: 0;
  text-align: center;
}

.lye_txt div {
  background: rgba(255, 255, 255, 0.3);
  border: 5px solid rgba(255, 255, 255, 0.5);
  font-size: 23px;
  color: #333;
  width: 640px;
  max-width: 100%;
  height: 280px;
  overflow: hidden;
  line-height: 45px;
  padding: 60px;
  margin: 0 auto;
}

.lye_txt .free_btn {
  margin-top: 30px;
  font-size: 18px;
  padding: 10px 20px;
}

.lye_txt span {
  font-size: 36px;
  font-family: "Arial Black";
}

.baby_bg .free_ma {
  top: 50%;
  left: 50%;
  margin: -207px 0 0 -140px;
}

.baby_bg .free_ma p {
  font-size: 16px;
  text-align: center;
  margin-top: 313px;
  padding: 0;
}

.title {
  text-align: center;
  padding: 50px 0;
  line-height: 72px;
  text-transform: Uppercase;
}

.siztitle {
  font-family: "Arial Black";
  font-size: 36px;
  color: #333;
}

.redline {
  height: 3px;
  width: 60px;
  background: #ff3333;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.poto {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 180px;
  border: 10px solid #cbdc36;
  text-align: center;
  margin: 0 auto
}

.poto img {
  width: 100%;
}

.onage {
  line-height: 24px;
  text-align: center;
  margin: 15px 0 60px 0;
}

.onage b {
  font-size: 18px;
  line-height: 50px;
  display: block;
  color: #333;
}

.sys_box01,
.sys_box02,
.sys_box03 {
  text-align: center;
  padding: 40px 0;
}

.sys_box01 {
  background: #95e1d3;
}

.sys_box02 {
  background: #ffcc99;
}

.sys_box03 {
  background: #dee991;
}

.sys_txt {
  line-height: 24px;
  margin: 30px 0 60px 0;
}

.sys_txt b {
  font-size: 18px;
  text-transform: Uppercase;
  display: block;
  color: #333;
  margin-bottom: 10px;
}

.sys_list {
  border: 1px solid #ddd;
  padding: 50px 0;
  margin: 0 0 30px 0;
  min-height: 210px;
}

.sys_list .col-sm-8 {
  padding-right: 60px;
}

.sys_list .col-sm-8 b {
  display: block;
  font-size: 18px;
  color: #333333;
  margin-bottom: 10px;
}

.sys_list .col-sm-4 {
  text-align: center;
  vertical-align: middle
}

.sys_list .col-sm-4 img {
  width: 90px;
  margin-top: 9px;
}

.isbottom {
  margin-bottom: 30px;
}

.pro_top {
  background: #4ed4c6;
  padding: 50px 0
}

.protxt {
  border: 2px solid #fff;
  color: #ffffff;
  margin: 0 auto;
}

.txtbox {
  background: #4ed4c6;
  margin: -2px 20px;
  padding: 10px 30px;
  font-size: 18px;
  line-height: 36px;
}

.online {
  text-align: center;
  margin-bottom: 60px;
}

.online .col-sm-3,
.online .col-sm-4 {
  border: 1px solid #ddd;
  margin: 0 -0.5px;
  padding: 50px 15px;
  text-align: center;
  font-size: 18px;
}

.online .col-sm-3 p,
.online .col-sm-4 p {
  margin-top: 20px;
}

.democourse {
  text-align: center;
  margin-bottom: 60px
}

.democourse a:hover img {
  box-shadow: 8px 8px 0px #a1e1db;
}

.democourse a p {
  width: 70%;
  color: #0ccdba;
  margin: 20px auto;
}

.democourse a:hover p {
  color: #02aa99;
}

.videotab {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}

.videotab li {
  width: 33.33%;
  float: left;
  display: block;
  padding: 15px 0;
  text-align: center;
}

.videotab li a {
  color: #999;
  font-size: 16px;
}

.videotab li a b {
  height: 2px;
  width: 66px;
  background: #39cdba;
  margin: 0 auto;
  position: relative;
  bottom: -17px;
  display: none;
}

.videotab li a:hover {
  color: #39cdba;
}

.videotab li.current a {
  color: #39cdba;
}

.videotab li.current a b {
  display: block;
}

.videolist {
  text-align: center;
  display: none;
}

.videolist .row {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0
}

.videolist a {
  position: relative;
  display: block;
  margin-bottom: 15px;
}

.videolist .col-sm-6 {
  padding: 20px 15px 0 15px;
}

.videolist a .play {
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  line-height: 53px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  border-radius: 50px;
  overflow: hidden;
}

.videolist a:hover .play {
  background: #ff3333;
}

.videolist a:hover img {
  box-shadow: 8px 8px 0px #a1e1db;
}

.videolist a img {
  max-width: 100%;
}

.videobox {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999999999999999999999999;
  left: 0;
  top: 0;
  display: none;
}

.v_win {
  width: 720px;
  min-height: 410px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -205px 0 0 -360px;
  background: #ffffff;
}

.v_win p {
  margin-top: 10px;
  text-align: center
}

.v_win .circle {
  position: absolute;
  font-size: 24px;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.v_win .glyphicon-remove-circle:hover {
  color: #ff3333;
}

.aboutus_banner {
  background: url("../../images/en/banner06.jpg") center bottom no-repeat;
  text-align: center;
  padding: 120px 0;
  background-size: cover;
}

.aboutus_banner .container {
  color: #fff;
  line-height: 30px;
}

.aboutus_banner .container p {
  font-size: 30px;
  font-family: "Arial Black";
  line-height: 80px;
}

.zeo {
  border: 8px solid #fff;
  border-radius: 170px;
  height: 170px;
  width: 170px;
  background: #fff;
  text-align: center;
  margin: 0 auto;
}

.fivezeo {
  margin-top: -50px;
}

.zeobro {
  border: 5px solid #5bd7bb;
  height: 150px;
  width: 150px;
  border-radius: 150px;
  margin: 0 auto;
}

.fivezeo .col-sm-2 {
  width: 20%;
}

.zeobro p {
  font-size: 26px;
  font-family: "Arial Black";
  color: #669999;
  margin: 50px 0 10px 0
}

.zeobro span {
  font-size: 14px;
  color: #999999;
}

.toptxt {
  text-align: center;
  padding: 60px;
  line-height: 30px;
  border-bottom: 1px solid #ddd;
}

.mapbox .col-md-6 {
  padding: 50px 15px;
  line-height: 30px;
}

.siz18 {
  font-size: 18px;
  font-family: "Arial Black";
  color: #333333;
}

.jindu {
  background: #eee;
  width: 340px;
  height: 6px;
  border-radius: 6px;
}

.jindu b {
  width: 11.4%;
  background: #39cdba;
  height: 6px;
  border-radius: 6px;
  display: block;
}

.sizgreen {
  color: #39cdba;
}

.mapbox {
  border-bottom: 1px solid #ddd;
}

.mapbox .siz18 {
  margin: 50px 0 10px 0
}

.mapbox .sizgreen {
  font-weight: bold;
}

.mapbox ul {
  margin: 25px 0;
}

.mapbox li {
  display: inline-block;
}

.mapbox .city {
  width: 80px;
}

.teamtxt {
  line-height: 30px;
  margin: 50px 0;
  padding: 0 120px;
  text-align: center;
}

.investor {
  margin-bottom: 50px;
}

.investor .row {
  background: #e7cbcb;
}

.investor .col-md-4 {
  padding: 10px;
}

.investor .col-md-4 img {
  width: 100%;
}

.investor .col-md-8 p {
  line-height: 30px;
  color: #fff;
  padding: 30px 60px 30px 60px;
}

.investor .col-md-8 p span {
  font-family: "Arial Black";
}

.jingwei .row {
  background: #b3c2d1;
}

.business {
  margin-top: 60px;
}

.business .col-sm-4 {
  text-align: right;
}

.business .col-sm-4 img {
  margin-right: 20px;
}

.business .col-sm-8 {
  line-height: 30px;
  margin-top: 15px;
}

.business .col-sm-8 .siz18 {
  margin-bottom: 10px;
}

.swiper-wrapper,
.device {
  height: 514px;
  overflow: hidden;
}
